<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
	
	<select id="mypage-review" parameterType="string" resultType="commu">
		SELECT *
		FROM community
		WHERE ctg_id LIKE '4%' AND u_id = #{userId}
		ORDER BY c_date DESC
	</select>
	
	<select id="mypage-qna" parameterType="qna" resultType="qna">
		SELECT q_date, q_id, q_title 
		FROM qna WHERE q_id in ((SELECT q_id-1 FROM qna WHERE u_id = #{u_id}))
					 OR q_id in ((SELECT q_id FROM qna WHERE u_id = #{u_id}))
				ORDER BY q_id desc
	</select>
	
	<update id="modifyAccount" parameterType="users">
	
		UPDATE users
		   SET u_pwd = #{u_pwd}, u_name = #{u_name}, u_birth = #{u_birth}, u_email = #{u_email}, u_tell = #{u_tell}, u_addr = #{u_addr}
		 WHERE u_id = #{u_id}
	</update>
	
	<delete id="dropAccount" parameterType="users">
		{call
		 	declare
		 	begin
		DELETE 
		  FROM qna
		 WHERE u_id=#{u_id};  
		 
		DELETE 
		  FROM reply
		 WHERE u_id=#{u_id};  
		 
		DELETE 
		  FROM community
		 WHERE u_id=#{u_id};  
		 
		 DELETE 
		  FROM orderlist
		 WHERE u_id=#{u_id};
		 
		DELETE 
		  FROM orders
		 WHERE u_id=#{u_id};  
		
		DELETE 
		  FROM users
		 WHERE u_id=#{u_id};
		 end
		} 
	
	</delete>
	
	<select id="reView" parameterType="commu" resultType="commu">
	
		SELECT *
		  FROM community
		 WHERE ctg_id= #{ctg_id} AND c_id = #{c_id}
		  
	</select>	
	<update id="viewCount" parameterType="commu">
		UPDATE community
		   set c_cnt=c_cnt+1
		 WHERE ctg_id= #{ctg_id} AND c_id = #{c_id}
	</update>
	<insert id="insertQnA" parameterType="qna">
		INSERT INTO qna
		VALUES( seq_qna.nextval||9, #{ctg_id}, #{goods} , #{u_id} , 'Q : ${q_title}', #{q_content}, sysdate)
	</insert>
	
	<select id="qnAView" parameterType="qna" resultType="qna">
		SELECT *
		  FROM qna
		 WHERE q_id = #{q_id}
	
	</select>
	<delete id="deleteQnA" parameterType="qna">
	{call
		 	declare
		 	begin
		 	
		DELETE
		  FROM qna
		  WHERE q_id = #{q_id};
		  
		  DELETE
		  FROM qna
		  WHERE q_id = ${q_id}-1;
		  
		   end
		} 
	
	</delete>
	<update id="modifyQnA" parameterType="qna">
		UPDATE qna
		   SET q_title = #{q_title}, q_content = #{q_content}
		 WHERE q_id = #{q_id}
	
	</update>
	<select id="QnAAnswerCheck" parameterType="qna" resultType="qna">
		SELECT *
		  FROM qna
		 WHERE q_id = ${q_id}-1
	
	</select>
	<select id="selectQnaDate" parameterType="qna" resultType="qna">
		SELECT *
        FROM qna 
       WHERE (q_id in ((SELECT q_id-1 FROM qna WHERE u_id = #{u_id}))
           or  q_id in ((SELECT q_id FROM qna WHERE u_id = #{u_id})))
         AND q_date <![CDATA[>=]]> #{startDate} and q_date <![CDATA[<=]]> to_date(#{endDate},'YYYY-MM-DD')+0.99999
       ORDER BY q_id DESC
	</select>
	
	<select id="selectOrderList" parameterType="order" resultType="order">
		SELECT *
		FROM orders
		WHERE u_id = #{u_id}
		ORDER BY o_date DESC
	
	</select>
	<select id="deliveryInfo" parameterType="order" resultType="order">
		SELECT *
		FROM orderList
		WHERE o_id = #{o_id}			
	</select>
	<select id="orderDateSearch" parameterType="order" resultType="order">
		SELECT *
		FROM orders
		WHERE u_id = #{u_id} AND TO_CHAR(o_date,'YYYY-MM-DD') BETWEEN #{startDate} AND #{endDate}
	
	</select>

</mapper>